<!--banner area start-->
<div class="banner_area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="welcome_title">
                    <h3>WELCOME TO MAZLAY</h3>
                    <h2>CUSTOM <span>SHOPPING STORE ONLINE</span></h2>
                    <p>Designer Accessories. Locally Designed. Globally Crafted.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="assets/img/bg/banner1.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="assets/img/bg/banner2.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="assets/img/bg/banner3.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<!--banner area end-->

<!--Categories product area start-->
<div class="categories_product_area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="categories_product_inner categories_column7 owl-carousel">
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category1.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Body Parts</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category2.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Car engine</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category3.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Interiors</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category4.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Lighting & lamp</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category5.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Repair Parts</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category6.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Smart Devices</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category7.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Wheels & Tires</a></h4>
                </div>
            </div>
            <div class="single_categories_product">
                <div class="categories_product_thumb">
                    <a href="shop.html"><img src="assets/img/s-product/category3.jpg" alt=""></a>
                </div>
                <div class="categories_product_content">
                    <h4><a href="shop.html"> Smart Devices</a></h4>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
<!--Categories product area end-->